@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lemon&display=swap');

:root {
    --Laranja: #ff6600;
    --marrom-doce: #7B3F00;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #e7c425;
    --alto-contraste-link: #ff7b00;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #f17610;
}

section {
    padding-bottom: 5rem;
}

.nav-link {
    color: var(--marrom-doce);
    font-weight: 600;
}

.inicio-fundo {
    background-image: url('img/fundo-doces.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 40rem;
    height: auto;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: var(--Laranja);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    color: white;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display-4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#doces {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/doce-fundo.png') top right no-repeat,
                url('img/doce-fundo2.png') bottom left no-repeat;
    background-size: 180px 180px;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    color: var(--Laranja);
}

#galeria {
    background-color: #f3880e;
}

.fundo-galeria {
    background: url('img/confete.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/fundo-doces.jpg');
    background-size: cover;
    padding: 4rem
